@model IEnumerable<PrimeiroMVC.Models.Aluno>
@{
    ViewDate["Title"] = "Listar Alunos";
}
<h1>Listar Aluno</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Matricula</th>
        </tr>
    </thead>

</table>